@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Kirang+Haerang&family=Kosugi+Maru&family=Noto+Sans+Mono:wght@100..900&display=swap"); /*fonts*/
/*page scrollbar format*/
html {
  scroll-behavior: smooth; /*smooth scroll movement when clicking anchors*/
  scroll-padding-top: 90px; /*prevents navbar from covering target section*/
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
  font-family: "Dongle";
  background-color: #005395;
  overflow-x: hidden;
}
body h1 {
  font-family: "Kirang Haerang";
  font-size: 50px;
  font-weight: normal;
  color: #D3E0F8;
  text-align: center;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

header nav {
  font-family: "Kirang Haerang";
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  padding-right: 20px;
  box-sizing: border-box; /* ensures padding doesn’t affect width calculation */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
header nav .bnd-logo {
  margin-right: auto;
}
header nav .bnd-logo img {
  height: 100px;
}
header nav .nav-btns {
  margin-left: auto;
  width: auto;
  padding-right: 20px;
}
header nav .nav-btns a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

section {
  font-size: 30px;
  background-image: linear-gradient(#005395 5%, #299CF9 95%);
  margin-top: 100px;
}
section h1 {
  margin-bottom: 0;
}
section p {
  line-height: 1;
}
section #Login,
section #Signup {
  display: flex;
  justify-content: center;
}
section #Login .log-container,
section #Login .signup-container,
section #Signup .log-container,
section #Signup .signup-container {
  background-color: white;
  width: 800px;
  text-align: center;
  border-radius: 50px;
}
section #Login .log-container input,
section #Login .signup-container input,
section #Signup .log-container input,
section #Signup .signup-container input {
  border: 1px solid #646464;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  font-family: "Dongle";
  width: 80%;
  height: 50px;
  padding: 0 10px;
  margin: 10px 0;
}
section #Login .log-container input:focus,
section #Login .signup-container input:focus,
section #Signup .log-container input:focus,
section #Signup .signup-container input:focus {
  outline: none;
}
section #Login .log-container a,
section #Login .signup-container a,
section #Signup .log-container a,
section #Signup .signup-container a {
  color: #8AB9CD;
  text-decoration: none;
}
section #Login .log-container a:hover,
section #Login .signup-container a:hover,
section #Signup .log-container a:hover,
section #Signup .signup-container a:hover {
  color: #C8BDB7;
  transition: 0.2s;
}
section #Login .log-container button,
section #Login .signup-container button,
section #Signup .log-container button,
section #Signup .signup-container button {
  font-family: "Dongle";
  font-size: 30px;
  padding: 0 20px;
  background-color: #477AAE;
  color: white;
  border: none;
}
section #Login .log-container button:hover,
section #Login .signup-container button:hover,
section #Signup .log-container button:hover,
section #Signup .signup-container button:hover {
  background-color: #8AB9CD;
  transition: 0.3s;
  cursor: pointer;
}

footer {
  background-color: #299CF9;
  font-size: 30px;
  /*footer ribbon animation*/
}
footer a {
  text-decoration: none;
  color: #D3E0F8;
}
footer .container {
  padding: 30px;
}
footer .container h1 {
  margin-bottom: 0px;
}
footer .container p {
  margin: 0;
}
footer .container .footer-flex {
  width: 100%;
}
footer hr {
  width: 90%;
}
footer .copyright {
  text-align: center;
}
footer .ribbon {
  background-image: url("img/footer ribbon.png");
  height: 150px;
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  animation: marquee 30s infinite linear;
}
@keyframes marquee {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1190px;
  }
}

/*==========MEDIA QUERIES==========*/
/*Mobile*/
@media only screen and (max-width: 480px) {
  section {
    padding: 20px 10px;
  }
  section .log-container,
  section .signup-container {
    border-radius: 30px;
    padding: 10px;
  }
  section .log-container input,
  section .log-container button,
  section .signup-container input,
  section .signup-container button {
    font-size: 20px;
  }
  section .log-container p,
  section .signup-container p {
    margin: 0;
  }
  /*==========FOOTER==========*/
  footer {
    text-align: center;
  }
  footer h1 {
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
  }
  footer p {
    font-size: 24px;
  }
  footer .copyright {
    margin: 0;
  }
}
/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /*==========HEADER==========*/
  header nav {
    padding-right: 20px;
  }
  header nav .nav-toggle-container {
    display: none;
  }
  header nav .nav-btns {
    margin-left: auto;
    width: auto;
  }
  header nav .nav-btns a {
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
  }
  section {
    padding: 30px;
  }
  section .log-container,
  section .signup-container {
    border-radius: 30px;
    padding: 20px;
  }
  section .log-container input,
  section .log-container button,
  section .signup-container input,
  section .signup-container button {
    font-size: 24px;
  }
  /*==========FOOTER==========*/
  footer h1,
  footer p,
  footer .socials {
    text-align: center;
  }
  footer h1 {
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
  }
  footer p {
    font-size: 24px;
  }
}
/*Desktop | 1024px+*/
@media only screen and (min-width: 1025px) {
  /*==========HEADER==========*/
  header nav .nav-btns {
    margin-left: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
  }
  header nav .nav-btns a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: black;
  }
  header nav .nav-btns #current, header nav .nav-btns a:hover {
    color: #D3E0F8;
    -webkit-text-stroke-width: 1px;
  }
  section {
    padding: 50px;
  }
  section .log-container,
  section .signup-container {
    border-radius: 50px;
    padding: 30px 70px;
  }
  /*==========FOOTER==========*/
  footer .container {
    padding: 50px;
  }
  footer .container h1 {
    text-align: left;
    font-size: 40px;
    margin: 10px;
  }
  footer .container .footer-flex {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  footer .container .footer-flex div {
    width: 100%;
  }
}/*# sourceMappingURL=pages.css.map */