@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Kirang+Haerang&family=Kosugi+Maru&family=Noto+Sans+Mono:wght@100..900&display=swap'); /*fonts*/

$nav-header-font: 'Kirang Haerang';
$text-font: 'Dongle';
$span-font: 'Kosugi Maru';
$quote-font: 'Noto Sans Mono';
$nav-header-size-desk: 50px;
$nav-header-size-tab: 30px;
$blue-album: #299CF9;
$blue1: #477AAE;
$blue2: #8AB9CD;
$blue3: #D3E0F8;
$blue-player: #005395;
$taupe: #C8BDB7;

/*page scrollbar format*/
html{
    scroll-behavior: smooth; /*smooth scroll movement when clicking anchors*/
    scroll-padding-top: 90px; /*prevents navbar from covering target section*/
}
html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    margin: 0;
    font-family: $text-font;
    background-color: $blue-player;
    overflow-x: hidden;

    h1 {
        font-family: $nav-header-font;
        font-size: $nav-header-size-desk;
        font-weight: normal;
        color: $blue3;
        text-align: center;
        -webkit-text-stroke-width: 1.7px;
        -webkit-text-stroke-color: black;
    }
}

header {
    nav {
        font-family: $nav-header-font;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100vw;
        padding-right: 20px;
        box-sizing: border-box; /* ensures padding doesn’t affect width calculation */
        backdrop-filter: blur(10px);
        border-radius: 0 0 10px 10px;
        border: 2px solid rgba(0,0,0,0.5);
        
        .bnd-logo {
            margin-right: auto;
            img {
                height: 100px;
            }
        }
        
        .nav-btns {
            margin-left: auto;
            width: auto;
            padding-right: 20px;
            
            a {
                font-size: $nav-header-size-tab;
                text-decoration: none;
                color: white;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 1px;
            }
        }
    }
}

section {
    font-size: 30px;
    background-image: linear-gradient($blue-player 5%, $blue-album 95%);
    margin-top: 100px;

    h1 {
        margin-bottom: 0;
    }
    p {
        line-height: 1;
    }

    #Login,
    #Signup {
        display: flex;
        justify-content: center;
        
        .log-container,
        .signup-container {
            background-color: white;
            width: 800px;
            text-align: center;
            border-radius: 50px;
        
            input {
                border: 1px solid #646464;
                border-radius: 10px;
                background-color: rgba(255,255,255,0);
                font-size: 30px;
                font-family: $text-font;
                width: 80%;
                height: 50px;
                padding: 0 10px;
                margin: 10px 0;
            }
            input:focus {
                outline: none;
            }
            
            a {
                color: $blue2;
                text-decoration: none;
            }
            a:hover {
                color: $taupe;
                transition: 0.2s;
            }
            
            button {
                font-family: $text-font;
                font-size: 30px;
                padding: 10px 20px;
                background-color: $blue1;
                color: white;
                border: none;
            }
            button:hover {
                background-color: $blue2;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
}

footer {
    background-color: $blue-album;
    font-size: 30px;

    a {
        text-decoration: none;
        color: $blue3;
    }
    
    .container {
        padding: 30px;

        h1 {
            margin-bottom: 0px;
        }
        p {
            margin: 0;
        }
        
        .footer-flex {
            width: 100%;
        }

    }
    
    hr {
        width: 90%;
    }

    .copyright {
        text-align: center;
    }

    .ribbon {
        background-image: url("img/footer ribbon.png");
        height: 150px;
        background-repeat: repeat-x;
        background-position: center;
        background-size: contain;
        animation: marquee 30s infinite linear;
    }
    
    /*footer ribbon animation*/
    @keyframes marquee {
        0% {
            background-position: 0;
        }
    
        100% {
            background-position: -1190px;
        }
    }
}

/*==========MEDIA QUERIES==========*/
/*Mobile*/
@media only screen and (max-width: 480px) {

    section {
        padding: 10px;

        .log-container,
        .signup-container {
            border-radius: 30px;
            padding: 10px;
            
            input,
            button {
                font-size: 20px;
            }

            p {
                margin: 0;
            }
        }

    }

    /*==========FOOTER==========*/
    footer {
        text-align: center;
        
        h1 {
            font-size: 40px;
            -webkit-text-stroke-width: 1px;
        }

        p {
            font-size: 24px;
        }

        .copyright {
            margin: 0;
        }
    }
}

/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    /*==========HEADER==========*/
    header {
        nav {
            padding-right: 20px;

            .nav-toggle-container {
                display: none;
            }

            .nav-btns {
                margin-left: auto;
                width: auto;

                a {
                    font-size: $nav-header-size-tab;   
                    -webkit-text-stroke-width: 1px;
                }
            }
        }
    }

    section {
        padding: 30px;

        .log-container,
        .signup-container {
            border-radius: 30px;
            padding: 20px;

            input,
            button {
                font-size: 24px;
            }
        }
    }

    /*==========FOOTER==========*/
    footer {
        h1,
        p,
        .socials {
            text-align: center;
        }
        
        h1 {
            font-size: 36px;
            -webkit-text-stroke-width: 1px;
        }

        p {
            font-size: 24px;
        }
    }
}

/*Desktop | 1024px+*/
@media only screen and (min-width: 1025px) {
    /*==========HEADER==========*/
    header {
        nav {
            .nav-btns {
                margin-left: auto;
                width: auto;
                //width: 70vw;
                display: flex;
                justify-content: space-between;
                
                a {
                    text-decoration: none;
                    font-size: $nav-header-size-desk;
                    color: white;
                    -webkit-text-stroke-width: 1.7px;
                    -webkit-text-stroke-color: black;
                }

                #current, a:hover {
                    color: $blue3;
                    -webkit-text-stroke-width: 1px;
                }
            }
        }
    }

    section {
        padding: 50px;

        .log-container,
        .signup-container {
            border-radius: 50px;
            padding: 30px 70px;
        }
    }

    /*==========FOOTER==========*/
    footer {
        .container {
            padding: 50px;

            h1 {
                text-align: left;
                font-size: 40px;
                margin: 10px;
            }
            
            .footer-flex {
                display: flex;
                gap: 50px;
                justify-content: center;

                div {
                    width: 100%;
                }
            }
        }
    }
}