@charset "UTF-8";
/*==========FONTS==========*/
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dongle&family=Kirang+Haerang&family=Kosugi+Maru&family=Noto+Sans+Mono:wght@100..900&display=swap");
/*page scrollbar format*/
html {
  scroll-behavior: smooth; /*smooth scroll movement when clicking anchors*/
  scroll-padding-top: 90px; /*prevents navbar from covering target section*/
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
  font-family: "Dongle";
  background-color: black;
}
body h1 {
  font-family: "Kirang Haerang";
  font-size: 50px;
  font-weight: normal;
  color: #D3E0F8;
  text-align: center;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

header {
  height: 100vh; /*header height is the same as video*/
}
header video {
  /*opacity: 0.5;*/
  position: absolute; /*put the nav on top of vid*/
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /*occupy the whole div*/
}
header nav {
  font-family: "Kirang Haerang";
  position: fixed;
  z-index: 10; /*put it on top of all elements*/
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box; /* ensures padding doesn’t affect width calculation */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
header nav .bnd-logo {
  margin-right: auto;
}
header nav .bnd-logo img {
  height: 100px;
}
header nav .nav-btns {
  margin-left: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
header nav .nav-btns a {
  text-decoration: none;
  font-size: 50px;
  color: white;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}
header nav .nav-btns #current, header nav .nav-btns a:hover {
  font-family: "Black And White Picture";
  color: #D3E0F8;
  -webkit-text-stroke-width: 1px;
}

section {
  font-size: 30px;
}
section p {
  line-height: 1;
}
section .container {
  max-width: 1400px;
  margin-bottom: 50px;
  display: flex;
  justify-self: center;
  flex-direction: column;
}
section #About {
  background-color: #299CF9;
  border: 1px solid #299CF9;
}
section #About .song {
  display: grid;
  grid-template-columns: auto 50%;
  gap: 30px;
  /*border: 1px dashed white; /*remove after*/
}
section #About .song .embeded {
  background-color: #005395;
  border-radius: 10px;
}
section #About .song iframe {
  width: 100%;
  height: 100%;
  /*border: 1px dashed white; /*remove after*/
}
section #Lyrics {
  background-color: black;
  border: 1px solid black;
  position: relative;
  margin-top: 40px;
}
section #Lyrics .lyrics-container {
  background-color: #477AAE;
  border-radius: 20px;
  padding: 80px 0;
  margin: 0 50px 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
}
section #Lyrics .lyrics-container span {
  font-family: "Kosugi Maru";
  font-size: 24px;
}
section #Lyrics .lyrics-container .lyrics-second {
  margin-top: 300px;
}
section #Lyrics .lyrics-container .ily {
  position: absolute;
  top: 170px;
  right: 200px;
  height: 400px;
  /*border: 1px solid white;*/
}
section #Lyrics .lyrics-container .full-lyrics {
  font-family: "Dongle";
  font-size: 40px;
}
section #Lyrics .bathtub-boy {
  position: absolute;
  top: 1350px;
  /*border: 1px solid white;*/
}
section #Analysis {
  background-color: #C8BDB7;
  border: 1px solid #C8BDB7;
  /*scrollbar format*/
  /*.carousel2 {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .carousel2-slide {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          video {
              position: absolute;
              width: 100%;
              height: 580px;
              object-fit: cover;
              border-radius: 50px;
              //opacity: 0.5;
          }

          p {
              position: relative;
              padding: 100px;
          }
      }

      //.prev-btn2,
      //.next-btn2 
      .prev-btn-div2,
      .next-btn-div2 {
          position: absolute;
          top: 0;

          img {
              width: 50px;
              height: 50px;
          }
      }
  }*/
}
section #Analysis .analysis-container {
  max-width: 1000px;
  margin: 0 auto;
}
section #Analysis .analysis-container .quote {
  width: 550px;
  justify-self: center;
  margin: 70px 0;
  font-family: "Noto Sans Mono";
  font-size: 26px;
}
section #Analysis .carousel {
  position: relative;
  width: 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*.prev-btn,
  .next-btn {
      position: absolute;
      top: 0;
      transform: translateY(-50%);

      img {
          width: 50px;
          height: 50px;
      }
  }*/
}
section #Analysis .carousel .carousel-slides-container {
  width: 100%;
}
section #Analysis .carousel .carousel-slide {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section #Analysis .carousel .carousel-slide video {
  width: 100%;
  height: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
section #Analysis .carousel .carousel-slide p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}
section #Analysis .carousel .prev-btn-div,
section #Analysis .carousel .next-btn-div {
  position: absolute;
  bottom: 10px;
  z-index: 10;
}
section #Analysis .carousel .prev-btn-div button,
section #Analysis .carousel .next-btn-div button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  font-family: "Kirang Haerang";
  font-size: 50px;
  color: #8AB9CD;
}
section #Analysis .carousel .prev-btn-div button:active,
section #Analysis .carousel .next-btn-div button:active {
  color: white;
}
section #Analysis .carousel .prev-btn-div {
  left: 20px;
}
section #Analysis .carousel .next-btn-div {
  right: 20px;
}
section #Analysis .vertical-scroll-container {
  position: relative;
  display: grid;
  grid-template-columns: 100% 100% 100% 100%;
  gap: 30px;
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
section #Analysis .vertical-scroll-container .vs-slide {
  height: 580px;
}
section #Analysis .vertical-scroll-container .vs-slide video {
  position: absolute;
  width: 100%;
  height: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
section #Analysis .vertical-scroll-container .vs-slide p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 100px;
  /*padding: 50px 100px;
  top: 90%;
  transform: translateY(-90%);
  background-image: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255,1));
  border-radius: 60px 60px 0 0 ;*/
}
section #Analysis .vertical-scroll-container::-webkit-scrollbar {
  height: 8px; /* Adjust scrollbar height */
}
section #Analysis .vertical-scroll-container::-webkit-scrollbar-thumb {
  background: #005395; /* Adjust color */
  border-radius: 4px;
}

/*==========SCROLLBAR==========*/
/*::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-track{
    background-color: #7E1111;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#DDAC4A, #F5D278, #DDAC4A);
    border-radius: 10px;
}*//*# sourceMappingURL=style.css.map */