@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Kirang+Haerang&family=Kosugi+Maru&family=Noto+Sans+Mono:wght@100..900&display=swap"); /*fonts*/
/*==========PAGE SCROLLBAR==========*/
html {
  scroll-behavior: smooth; /*prevents jump to anchor*/
  scroll-padding-top: 90px; /*so target section is not covered by navbar*/
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
  font-family: "Dongle";
  background-color: black;
  overflow-x: hidden;
}
body h1 {
  font-family: "Kirang Haerang";
  font-size: 50px;
  font-weight: normal;
  color: #D3E0F8;
  text-align: center;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

/*==========COMMON STYLING==========*/
header video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
header nav {
  font-family: "Kirang Haerang";
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
header nav .bnd-logo {
  margin-right: auto;
}
header nav .bnd-logo img {
  height: 100px;
}
header nav .nav-btns {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
header nav .nav-btns a {
  text-decoration: none;
  color: white;
  -webkit-text-stroke-color: black;
}
header nav .nav-btns #current, header nav .nav-btns a:hover {
  color: #D3E0F8;
}

section {
  font-size: 30px;
  /*=====ABOUT DIV=====*/
  /*=====LYRICS DIV=====*/
  /*=====ANALYSIS DIV=====*/
}
section p {
  line-height: 1;
}
section #About {
  background-color: #299CF9;
  border: 1px solid #299CF9;
}
section #About .song .embeded {
  background-color: #005395;
  border-radius: 10px;
}
section #About .song iframe {
  width: 100%;
  height: 100%;
}
section #Lyrics {
  background-color: black;
  border: 1px solid black;
  position: relative;
}
section #Lyrics .lyrics-container {
  background-color: #477AAE;
  border-radius: 20px;
}
section #Lyrics .lyrics-container .note {
  position: absolute;
  top: 0px;
  color: #8AB9CD;
}
section #Lyrics .lyrics-container .note .note-desk {
  display: none;
}
section #Lyrics .lyrics-container .note .note-others {
  display: inline;
}
section #Lyrics .lyrics-container .full-lyrics {
  font-family: "Dongle";
}
section #Lyrics .lyrics-container .aishiteru {
  font-family: "Kosugi Maru";
}
section #Lyrics .lyrics-container .ily {
  position: absolute;
  width: 200px;
}
section #Lyrics .bathtub-boy {
  position: absolute;
  bottom: 0;
  width: 50%;
}
section #Analysis {
  background-color: #C8BDB7;
  border: 1px solid #C8BDB7;
}
section #Analysis .analysis-container {
  margin: 0 auto;
  justify-content: center;
}
section #Analysis .analysis-container .quote {
  font-family: "Noto Sans Mono";
}
section #Analysis .carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section #Analysis .carousel .carousel-slides-container {
  width: 100%;
}
section #Analysis .carousel .carousel-slide {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section #Analysis .carousel .carousel-slide video {
  width: 100%;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  z-index: -10; /*ensure it won't get clicked on mobile*/
}
section #Analysis .carousel .carousel-slide p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  border-radius: 10px;
}
section #Analysis .carousel .prev-btn-div,
section #Analysis .carousel .next-btn-div {
  position: absolute;
  bottom: 10px;
  z-index: 10;
}
section #Analysis .carousel .prev-btn-div button,
section #Analysis .carousel .next-btn-div button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  font-family: "Kirang Haerang";
  font-size: 50px;
  color: #8AB9CD;
}
section #Analysis .carousel .prev-btn-div button:active,
section #Analysis .carousel .next-btn-div button:active {
  color: white;
}
section #Analysis .carousel .prev-btn-div {
  left: 20px;
}
section #Analysis .carousel .next-btn-div {
  right: 20px;
}
section #Analysis .horizontal-scroll-container {
  position: relative;
  display: grid;
  grid-template-columns: 100% 100% 100% 100%;
  gap: 30px;
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
section #Analysis .horizontal-scroll-container .hs-slide {
  height: 40vw;
}
section #Analysis .horizontal-scroll-container .hs-slide video {
  opacity: 0.75; /*to make it appear like it has an overlay for the text*/
  position: absolute;
  width: 100%;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  z-index: -10; /*ensure it won't get clicked on mobile*/
}
section #Analysis .horizontal-scroll-container .hs-slide p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10vw;
}
section #Analysis .horizontal-scroll-container::-webkit-scrollbar {
  height: 8px; /* Adjust scrollbar height */
}
section #Analysis .horizontal-scroll-container::-webkit-scrollbar-thumb {
  background: #005395; /* Adjust color */
  border-radius: 4px;
}
section #Analysis .fade-in {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s;
}
section #Analysis .fade-in.visible {
  opacity: 1;
  transform: translateX(0);
}

footer {
  background-color: #299CF9;
  font-size: 30px;
  /*footer ribbon animation*/
}
footer a {
  text-decoration: none;
  color: #D3E0F8;
}
footer .container {
  padding: 30px;
}
footer .container h1 {
  margin-bottom: 0px;
}
footer .container p {
  margin: 0;
}
footer .container .footer-flex {
  width: 100%;
}
footer hr {
  width: 90%;
}
footer .copyright {
  text-align: center;
}
footer .ribbon {
  background-image: url("img/footer ribbon.png");
  height: 150px;
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  animation: marquee 30s infinite linear;
}
@keyframes marquee {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1190px;
  }
}

/*==========MEDIA QUERIES==========*/
/*Mobile*/
@media only screen and (max-width: 480px) {
  /*==========HEADER==========*/
  header {
    height: 400px;
  }
  header video {
    width: 100vw;
    height: 400px;
  }
  header nav {
    display: block;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    border: none;
  }
  header nav .nav-toggle-container {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  header nav .nav-toggle-container #nav-toggle {
    font-size: 40px;
    background: none;
    border: none;
    color: white;
  }
  header nav .nav-btns {
    display: none;
    text-align: right;
    padding-right: 20px;
  }
  header nav .nav-btns a {
    display: block;
    font-size: 50px;
    -webkit-text-stroke-width: 1.7px;
  }
  .container {
    padding: 0 10px;
  }
  section {
    font-size: 24px;
    /*=====LYRICS DIV=====*/
    /*=====ANALYSIS DIV=====*/
  }
  section p {
    line-height: 1;
  }
  section #Lyrics {
    padding: 0 10px 30px;
  }
  section #Lyrics .lyrics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #Lyrics .lyrics-container .note {
    position: relative;
  }
  section #Lyrics .lyrics-container .full-lyrics {
    font-size: 24px;
  }
  section #Lyrics .lyrics-container .lyrics-second {
    top: 0;
  }
  section #Lyrics .lyrics-container .aishiteru {
    font-size: 12px;
  }
  section #Lyrics .lyrics-container .ily {
    top: 22%;
    right: 50px;
    width: 27vw;
  }
  section #Lyrics .bathtub-boy {
    right: 30px;
    width: 40%;
  }
  section #Analysis .analysis-container .quote {
    font-size: 18px;
    max-width: 350px;
    margin: 30px auto;
  }
  section #Analysis .carousel p {
    font-size: 4vw;
    padding: 0;
  }
  section #Analysis .horizontal-scroll-container {
    display: block;
  }
  section #Analysis .horizontal-scroll-container .hs-slide video {
    border-radius: 10px;
  }
  section #Analysis .horizontal-scroll-container .hs-slide p {
    padding: 10px;
    font-size: 4vw;
  }
  footer {
    text-align: center;
  }
  footer h1 {
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
  }
  footer p {
    font-size: 24px;
  }
  footer .copyright {
    margin: 0;
  }
}
/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /*==========HEADER==========*/
  header {
    height: 700px;
  }
  header video {
    width: 100vw;
    height: 700px;
  }
  header nav {
    padding-right: 20px;
  }
  header nav .nav-toggle-container {
    display: none;
  }
  header nav .nav-btns {
    width: 600px;
  }
  header nav .nav-btns a {
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
  }
  /*==========SECTION==========*/
  .container {
    min-width: 451px;
    padding: 0 30px 20px;
  }
  section {
    font-size: 24px;
    /*=====LYRICS DIV=====*/
    /*=====ANALYSIS DIV=====*/
  }
  section #Lyrics {
    padding: 0 10px 50px;
  }
  section #Lyrics .lyrics-container {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 964px;
  }
  section #Lyrics .lyrics-container .full-lyrics {
    font-size: 30px;
  }
  section #Lyrics .lyrics-container .aishiteru {
    font-size: 18px;
  }
  section #Lyrics .lyrics-container .lyrics-second {
    margin-top: 250px;
  }
  section #Lyrics .lyrics-container .ily {
    top: 180px;
    right: 50px;
  }
  section #Analysis .analysis-container .quote {
    font-size: 20px;
    width: 450px;
    margin: 50px auto;
  }
  section #Analysis .horizontal-scroll-container .hs-slide p {
    padding: auto 0;
  }
  footer h1,
  footer p,
  footer .socials {
    text-align: center;
  }
  footer h1 {
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
  }
  footer p {
    font-size: 24px;
  }
}
/*Desktop | 1024px+*/
@media only screen and (min-width: 1025px) {
  /*==========HEADER==========*/
  header {
    height: 100vh;
  }
  header video {
    position: absolute; /*put the nav on top of vid*/
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; /*so when not in full screen, video is cut*/
  }
  header nav .nav-toggle-container {
    display: none;
  }
  header nav .nav-btns {
    width: 70vw;
    padding-right: 20px;
  }
  header nav .nav-btns a {
    font-size: 50px;
    -webkit-text-stroke-width: 1.7px;
  }
  /*==========SECTION==========*/
  .container {
    min-width: 975px;
    padding: 0 50px;
    display: flex;
    justify-self: center;
    flex-direction: column;
  }
  section {
    /*=====ABOUT DIV=====*/
    /*=====LYRICS DIV=====*/
    /*=====ANALYSIS DIV=====*/
  }
  section #About .song {
    display: grid;
    grid-template-columns: auto 50%;
    gap: 30px;
  }
  section #About .container {
    padding-bottom: 50px;
  }
  section #Lyrics {
    position: relative;
    margin-top: 40px;
  }
  section #Lyrics .lyrics-container {
    min-width: 975px;
    padding: 80px 0;
    margin: 0 50px 80px;
    display: flex;
    justify-content: space-evenly;
  }
  section #Lyrics .lyrics-container .note .note-desk {
    display: inline;
  }
  section #Lyrics .lyrics-container .note .note-others {
    display: none;
  }
  section #Lyrics .lyrics-container .full-lyrics {
    font-size: 40px;
  }
  section #Lyrics .lyrics-container .lyrics-second {
    margin-top: 250px;
  }
  section #Lyrics .lyrics-container .aishiteru {
    font-size: 24px;
  }
  section #Lyrics .lyrics-container .ily {
    top: 180px;
    right: 150px;
    width: 220px;
  }
  section #Analysis .analysis-container {
    max-width: 1000px;
  }
  section #Analysis .analysis-container .quote {
    font-size: 26px;
    width: 550px;
    margin: 70px auto;
  }
  section #Analysis .carousel .carousel-slide video {
    border-radius: 50px;
  }
  section #Analysis .carousel .carousel-slide p {
    bottom: 20px;
  }
  section #Analysis .horizontal-scroll-container .hs-slide video {
    border-radius: 50px;
  }
  /*==========FOOTER==========*/
  footer .container {
    padding: 50px;
  }
  footer .container h1 {
    text-align: left;
    font-size: 40px;
    margin: 10px;
  }
  footer .container .footer-flex {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  footer .container .footer-flex div {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */